{% extends 'base.html' %}

{% block title %}
♻️ Home
{% endblock %} 

{% block content %}
<div class="hero bg-base-200" style="min-height: calc(100vh - 56px)">
  <div class="hero-content flex-col lg:flex-row" style="column-gap: 30px;">
    <div class="text-center lg:text-left">
      <img class="mx-auto" src="{{url_for('static', filename='disposal.png')}}" width="200px"/>
      <p class="text-xl pb-1">You are at:</p>
      <h1 class="text-5xl font-bold">{{g.user["name"]}}</h1>
    </p>
      <ul class="steps steps-vertical lg:steps-horizontal" style="min-width: 300px;">
        <li class="step step-info">Have a customer QR ready (Creating a temp QR is possible!)</li>
        <li class="step">Have your product QR ready</li>
        <li class="step">Go to "Start Disposal", and scan your customer QR</li>
        <li class="step">Scan products to dispose with FullCycle :)</li>
        <li data-content="★" class="step step-primary">Receive Incentives</li>
      </ul>

    </div>
    <div class="card flex-shrink-0 w-full max-w-sm shadow-xl bg-base-100">
      <div class="card-body" >
        <h2 class="card-title">Welcome to ♻️</h2>
        <ul class="menu bg-base-100">
          <li class="menu-title py-2">
            <span>Disposal Actions!</span>
          </li>
          <li class="hover-bordered"><a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 01-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 006.16-12.12A14.98 14.98 0 009.631 8.41m5.96 5.96a14.926 14.926 0 01-5.841 2.58m-.119-8.54a6 6 0 00-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 00-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 01-2.448-2.448 14.9 14.9 0 01.06-.312m-2.24 2.39a4.493 4.493 0 00-1.757 4.306 4.493 4.493 0 004.306-1.758M16.5 9a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z" />
            </svg>                   
            Start Disposal
            <li class="hover-bordered"><a>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 013.75 9.375v-4.5zM3.75 14.625c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5a1.125 1.125 0 01-1.125-1.125v-4.5zM13.5 4.875c0-.621.504-1.125 1.125-1.125h4.5c.621 0 1.125.504 1.125 1.125v4.5c0 .621-.504 1.125-1.125 1.125h-4.5A1.125 1.125 0 0113.5 9.375v-4.5z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 6.75h.75v.75h-.75v-.75zM6.75 16.5h.75v.75h-.75v-.75zM16.5 6.75h.75v.75h-.75v-.75zM13.5 13.5h.75v.75h-.75v-.75zM13.5 19.5h.75v.75h-.75v-.75zM19.5 13.5h.75v.75h-.75v-.75zM19.5 19.5h.75v.75h-.75v-.75zM16.5 16.5h.75v.75h-.75v-.75z" />
              </svg>            
              Create a Temporary QR Code
            </a></li>
          </a></li>
          <li class="menu-title py-2">
            <span>My data!</span>
          </li>
          <li class="hover-bordered">    <a>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
            See the litter collected
          </a></li>
          <li class="hover-bordered"><a>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-5 h-5">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21 11.25v8.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5v-8.25M12 4.875A2.625 2.625 0 109.375 7.5H12m0-2.625V7.5m0-2.625A2.625 2.625 0 1114.625 7.5H12m0 0V21m-8.625-9.75h18c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125h-18c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
            </svg>            
            See my incentives</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}